@charset "utf-8";

body {
    background-color: hsl(154, 50%, 30%);
    font-family: sans-serif;
    font-size: 125%;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-shadow: 5px 5px black;
    text-align: left;
}

p {
    text-align: justify;
}

p.Biografia {
    background-color: white;
    border: black 10px solid;
    border-radius: 30px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

p.estilo-1 {
    background-color: hsl(17, 50%, 45%);
    border: hsl(17, 100%, 25%);
    border-radius: 20px;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
}

p.estilo-2 {
    background-color:hsl(34, 50%, 45%);
    border: hsl(34, 100%, 25%);
    border-radius: 15px;
    color: white;
}

p.estilo-3 {
    background-color: hsl(207, 100%, 25%);
    border: hsl(207, 50%, 45%) 5px dashed;
    color: white;
}
